body {
    color: rgb(255, 255, 255);
    background: rgb(30, 30, 30);
    margin:0px;
}

header {
    border-Bottom: solid 2px red;
    padding: 12px;
    font-size: 42px;
    color: #e62f2f;
    font-family: "Bebas Neue", sans-serif;
    background-color: #131313;
}

section {
    padding-bottom: 40;
    padding-top: 40px;
    
}

.selection2{
    padding-bottom: 37px;
    padding-top: 1px;
    background-color: #181818;
}

.video {
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    margin-left: 350px;
}

.titulo {
    font-family: "Roboto Condensed", sans-serif;
    margin-left: 70px;
    font-size: 24;
}

img {
    height: 200;
    margin-left: 10px;
}

.categoria {
    display: flex;
    gap: 10px;
    padding: 5px
}


.categoria img{
    opacity: 0.5;
}

.categoria img:hover{
    opacity: 1;
    

}

h2 { 
    margin-left: 29px;
    border-Bottom: solid 2px red;
    padding:10px;
    margin-right: 29px;
}

